// Цвета
@black_transparent: rgba(0, 0, 0, 0.6);
@back: #2B3E50;
@back_ligth: #405366;
@font_color: #EBEBEB;

// Основа оформления
.basis {
  font-family: 'Lora', serif;
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.5;
  color: @font_color;
  text-align: left;
  background-color: @back;
}

// Центрирование текста
.textCenter {
  text-align: center;
}

// Скругление
.rounding {
  border-radius: 5px;
}

// Убрать аутлайны
.nonOutline {
  outline: none;
}

// Как блок
.asBlock {
  display: block;
}

// Нулевые марджины для центрирования
.margZero {
  margin: 0 auto;
}


// Вертикальный отступ 5
.vIndent5 {
  height: 5vh;
}

// Вертикальный отступ 2.5
.vIndent2_5 {
  height: 2.5vh;
}

.width66 {
  width: 66.666%;
}

.width33 {
  width: 33.333%;
}

.width29 {
  width: 31.333%;
}

html {
  .basis
}

input {
  .nonOutline;
  .rounding;
  width: 100%;
}

a:hover{
  text-decoration: none;
}

// Для модального окна
.modal {
  .asBlock;
  background-color: @black_transparent;
}

// Заголовок
.hdr {
  .asBlock;
  .textCenter;
  font-family: 'Vollkorn', serif;
  font-size: 5vh;
  font-weight: 500;
}

// Подзаголовок
.subHdr {
  .asBlock;
  .textCenter;
  font-family: 'Vollkorn', serif;
  font-size: 2.1vh;
  font-weight: 300;
}

// Границы и раскраска полей
.lightBack {
  background-color: @back_ligth;
  margin-top: 3px !important;
}

.marginsLR {
  margin-right: 2px !important;
  margin-left: 2px !important;
}

// Центрирование
.center {
  .asBlock;
  .margZero;
  text-align: center;
}

// Кнопка логина
.loginBtn {
  .asBlock;
  .margZero;
  .nonOutline;
  .rounding;
  border: none;
  padding: 5px 30px;
}

.btn {
  margin: 5px;
  font-weight: 300;
}

.logPass {
  .asBlock;
  .margZero;
  width: 25%;
}

.btn-no-hover {
  color: @font_color;
  background-color: @back_ligth;
}

.pads {
  padding-right: 12px !important;
  padding-left: 12px !important;
}

.fsize {
  font-size: 1.1rem;
}
